extends layout

block content
  section#about
    #description
      p="This a project made in the Node.js Knockout by a team of folks really interested in learning and having a great time while coding & deploying."
      h2="Le Team"
      h3="Oscar Rendon"
      h4
        a(href='http://twitter.com/orendon')="@orendon"
      h3="Jeffrey Biles"
      h4
        a(href='http://twitter.com/jeffreybiles')="@jeffreybiles"
      h4
        a(href='http://twitter.com/scriptcaster')="@sriptcaster"
      h3="Pablo Velasquez"
      h4
        a(href='http://twitter.com/scriptcaster')="@pablovem"
