doctype 5
html(lang="en")
  head
    title= "HeadPong"
    link(rel='stylesheet', href='/stylesheets/mainstyle.css')
    link(rel='stylesheet', href='/stylesheets/canvas.css')
    link(rel='stylesheet', href='/stylesheets/video.css')
  body
    header
      h1="HeadPong"
      p="I didn't choose the pong life, the pong life chose me"
    nav
      ul
        li
          a(href="/")="Home"
        li
          a(href="/game#gamezone")="Play"
        li#vote
          iframe(src="http://nodeknockout.com/iframe/staunch-team", frameborder=0, scrolling="no", allowtransparency=true, width=115, height=25)
    section#about
      #meme
        img(src="/img/aboutimg.png")
      #info
        p="A node.js KO project made in 48 hours, "
          br
          |made by people who love old school videogames.
        p="They said we could be anything with our heads, so we became pong paddles."
        p="Now go yourself and enjoy it"
        a(href="/game#gamezone")="Play"
    footer
      p
        a(href="http://nodeknockout.com/teams/staunch-team")="a StaunchTeam Project"
